/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Metrica
Version:	1.0
Last change:	
Assigned to: 20/06/2016
Primary use:
	
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Layout]

* body

	+ Global
		- Padding/Margin
		- OW pull-left/pull-right
		- Section Padding
	+ Fonts Settings
		- Montserrat
		- Open Sans
	+ Header
	+ Footer
	+ Page Banner
	
	+ Responsive
		- min-width: 1200
		- min-width: 992
		- max-width: 1366
		- max-width: 1200
		- min-width: 992 to max-width: 1200
		- max-width: 991
		- min-width: 768 to max-width: 991
		- max-width: 767
		- max-width: 639
		- max-width: 479
-------------------------------------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000;
	background-color: #fff;
	position: relative;
}
img {
    max-width: 100%;
	height: auto;
}
a {
    outline: 0 !important;
}
h1,h2,h3,h4,h5,h6 {
	word-wrap: break-word;
}

/* + Global */
	/* - Padding/Margin */
	.no-padding {
		padding: 0;
	}
	.no-left-padding{
		padding-left: 0;
	}
	.no-right-padding {
		padding-right: 0;
	}
	.no-top-padding {
		padding-top: 0;
	}
	.no-bottom-padding {
		padding-bottom: 0;
	}
	.no-margin {
		margin: 0;
	}
	.no-left-margin {
		margin-left: 0;
	}
	.no-right-margin {
		margin-right: 0;
	}
	.no-top-margin {
		padding-top: 0;
	}
	.no-bottom-margin {
		margin-bottom: 0;
	}

	/* - OW pull-left/pull-right */
	.ow-pull-right {
		float: right;
	}
	.ow-pull-left {
		float: left;
	}


main {
	overflow: hidden;
}

/* - Section Padding */
.section-padding {
	padding-bottom: 75px;
	padding-top: 75px;
}
.padding-30 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.padding-50 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.padding-60 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding-100 {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* - Page Bradcrumb */
.page-breadcrumb {
	background-color: #efefef;
	padding: 50px 0;
}
.page-breadcrumb .breadcrumb {
	background-color: transparent;
	margin-bottom: 0;
	padding: 0;
}
.page-breadcrumb .breadcrumb li {
	font-size: 20px;
	font-style: italic;
}
.page-breadcrumb .breadcrumb li,
.page-breadcrumb .breadcrumb li a,
.page-breadcrumb .breadcrumb > li + li::before {
	color: #212121;
}

/* - Section Header */
.section-header {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.section-header span {
	font-size: 16px;
	font-style: italic;
	color: #727272;
}
.section-header h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-transform: capitalize;
	letter-spacing: -2.5px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.section-header p {
	font-size: 13px;
	color: #727272;
	line-height: 24px;
	margin-bottom: 0;
	padding: 0 10%;
}
.gray-bg {
	background-color: #efefef !important;
}

.no-bg {
	background: none !important;
}
.no-border {
	border: none !important;
}


/* - Latest Post Widget */
/*------------------------------------------------------------------
	+ Responsive
-------------------------------------------------------------------*/

/* - min-width: 1200 */
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}	
}

/* - min-width: 992 */
@media (min-width: 992px) {
	.section-header p {
		padding: 0 33%;
	}
}
/* - max-width: 1366 */
@media (max-width: 1366px) {	
	
}

/* - max-width: 1200 */
@media (max-width: 1200px) {	
	
}

/* - min-width: 992 to max-width: 1200 */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
}

/* - max-width: 991 */
@media (max-width: 991px) {	
	
}

/* - min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

/* - max-width: 767 */
@media (max-width: 767px) {
	
	
}

/* - max-width: 639 */
@media (max-width: 639px) {
	
}

/* - max-width: 479 */
@media (max-width: 479px) {
	
}



.logoimg {
    margin-top: 39PX;
	    display: inline-block;
}

.teamcontent-box-p {
	    font-size: 15px !important;
    font-weight: normal !important;
    text-transform: none !important;
    line-height: 10px !important;
}


.margin-60 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin-100 {
	padding-top: 40px;
	margin-bottom: 30px;
}

.margin-30 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.padding-10 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.control-label {
	padding-top:15px;
}
.payfrm{
	padding-top:20px;
}
.text-center{ text-align: center }
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block { width: 20%; }
.text-center {text-align:center;}
.form-control1{display:block;height:45px; width:100%;padding:6px 25px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:9px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}